<div class='row'>
  <div class="col-lg-3  mb-4">
    <%= render partial: 'businesses/business_sidebar', locals: {business: @business}%>
    <!-- Getting started -->
    <% if !current_user.blank? %>
    <% if current_user.id == @business.user_id%>
    <div class="list-group list-group-transparent mb-4 text-center">
      <%= link_to '/businesses/'+@business.id.to_s+'/edit', class: "list-group-item list-group-item-action active small", style:'font-weight:normal;' do%>
      <i class="fe fe-edit" style="vertical-align:middle;"></i> <%=t :edit_your_business%>
      <%end%>
    </div>
    <%end%>
    <%end%>
    
  </div>
  <div class="col-lg-9 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class='row'>
          <div class='col-md-12 col-lg-12'>
            <div class="form-group">
              <%= label :business, :title , class: "form-label strong"%>
              <div class="form-control-plaintext"><%= @business.title %></div>
            </div>
            <div class="form-group">
              <%= label :business, :tel , class: "form-label strong"%>
              <div class="form-control-plaintext"><%= @business.tel %></div>
            </div>
            <div class="form-group">
              <%= label :business, :mobile , class: "form-label strong"%>
              <div class="form-control-plaintext"><%= @business.mobile %></div>
            </div>
            <div class="form-group">
              <%= label :business, :fax , class: "form-label strong"%>
              <div class="form-control-plaintext"><%= @business.fax %></div>
            </div>
            <div class="form-group">
              <%= label :business, :address , class: "form-label strong"%>
              <div class="form-control-plaintext"><%= @business.address %></div>
            </div>
            <div class="form-group">
              <%= label :business, :bio , class: "form-label strong"%>
              <div class="form-control-plaintext"><%= @business.bio %></div>
            </div>
            <div class="form-group">
              <%= label :business, :telegram_channel , class: "form-label strong"%>
              <div class="form-control-plaintext"><%= @business.telegram_channel %></div>
            </div>
            <div class="form-group">
              <%= label :business, :instagram_page , class: "form-label strong"%>
              <div class="form-control-plaintext"><%= @business.instagram_page %></div>
            </div>
            <div class="form-group">
              <%= label :business, :email , class: "form-label strong"%>
              <div class="form-control-plaintext"><%= @business.email %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
