<div class="card">
  <div class="card-header" style='color:#467fcf;'>
      <i class="fe fe-help-circle" style="vertical-align:-3px;"></i>&nbsp <%= faq.question%>
  </div>
  <div class="card-body">
  <% if user_signed_in? && current_user.id == @business.user_id%>
  <div class="col-md-3 p-0 text-right">
    <% if @business.faqs.order('rank desc, updated_at asc').first.id != faq.id%>
    <%= link_to "/faqs/change_rank/#{faq.id}?to=up", class: "icon", remote: true do %>
    <i class="fe fe-chevrons-up" style='vertical-align:-3px;'></i>
    <%end%>
    <%else%>
    <span class='icon'><i class="fe fe-chevrons-up" style='vertical-align:-3px;color:#f2f4f9'></i></span>
    <%end%>
    <span  style='font-size: 70%; padding-top: 5px;'><%=t :level %></span>
    <% if @business.faqs.order('rank desc, updated_at asc').last.id != faq.id%>
    <%= link_to "/faqs/change_rank/#{faq.id}?to=down", class: "icon", remote: true do %>
    <i class="fe fe-chevrons-down" style='vertical-align:-3px;'></i>
    <%end%>
    <%else%>
    <span class='icon'><i class="fe fe-chevrons-up" style='vertical-align:-3px;color:#f2f4f9'></i></span>
    <%end%>
  </div>
  <div class="col-md-1 p-0 text-right">
    <%= link_to faq, method: :delete, remote: true, data: { confirm: 'Are you sure?' } do%>
    <i class="fe fe-trash" style='vertical-align:-3px;'></i>
    <%end%>
  </div>
  <%end%>
  <div class='mb-4' style='text-align: justify;'><%= faq.answer%></div>
</div>
</div>
