<div class='row'>
  <div class="col-lg-4 order-lg-1">
  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class='row'>
          <div class='col-md-12 col-lg-12'>
                        <div class="form-group">
              <%= label :theme, :header_background , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @theme.header_background %></div>
            </div>
                        <div class="form-group">
              <%= label :theme, :navtab_color , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @theme.navtab_color %></div>
            </div>
                        <div class="form-group">
              <%= label :theme, :footer_background , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @theme.footer_background %></div>
            </div>
                        <div class="form-group">
              <%= label :theme, :footer_color , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @theme.footer_color %></div>
            </div>
                        <div class="form-group">
              <%= label :theme, :body_background_color , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @theme.body_background_color %></div>
            </div>
                        <div class="form-group">
              <%= label :theme, :list_group_item_background , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @theme.list_group_item_background %></div>
            </div>
                        <div class="form-group">
              <%= label :theme, :list_group_item_color , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @theme.list_group_item_color %></div>
            </div>
                      </div>
        </div>
      </div>
    </div>
  </div>
</div>
