<%= form_for(@visit, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :new_visit %></h3>
</div>
<% if @visit.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

  <ul>
    <% @visit.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-body">
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :visitable_id, class: "form-label" %>
      <%= f.number_field :visitable_id , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :visitable_type, class: "form-label" %>
      <%= f.text_field :visitable_type , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :visitor_session, class: "form-label" %>
      <%= f.text_field :visitor_session , class: "form-control" %>
          </div>
  </div>
</div>
<div class="card-footer text-right">
  <button type="submit" class="btn btn-primary"><%=t :submit%></button>
</div>
<% end %>
