<div class="row row-cards row-deck">
  <%for pixel in @business.pixels.first(@i*4)%>
  <% @uploads = Upload.where(uploadable_type: 'Pixel', uploadable_id: pixel.id, attachment_type: 'pixel_attachment')%>
  <div class="col-md-3 col-6">
    <%= link_to "/products?category-id-#{pixel.category.id}=#{pixel.category.id}" do%>
    <div class="card p-0" style="padding-bottom: 0px !important;">
      <div class="card-body p-0" style="padding-bottom: 0px !important;">
        <div id="carousel-captions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% if !@uploads.blank?%>
            <% for upload in @uploads%>
            <div class="carousel-item <% if upload.id == @uploads.first.id %> active<%end%>">
              <img class="d-block w-100" alt="" src="<%= upload.attachment(:large)%>" data-holder-rendered="true">
              <div class="carousel-item-background d-none d-md-block"></div>
              <div class="carousel-caption d-none d-md-block">
                <h3><%= pixel.category.title%></h3>
              </div>
            </div>
            <%end%>
            <%else%>
            <div class="carousel-item active">
              <img class="d-block w-100" alt="" src="<%= asset_url("#{rand(2..6)}.png")%>" data-holder-rendered="true">
              <div class="carousel-item-background d-none d-md-block"></div>
              <div class="carousel-caption d-none d-md-block">
                <h3><%= pixel.category.title%></h3>
              </div>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>
  <%end%>
</div>
