<label class="custom-switch mt-1" style='float: left;'>
  <input type="checkbox" name="view_<%= segment.id%>" id='view_<%= segment.id%>' <%if segment.view_in_homepage%>checked<%end%> class="custom-switch-input">
  <span class="custom-switch-indicator"></span>
  <span class="custom-switch-description" style='font-size: 60%;'><%=t :view_in_the_first_page%></span>
</label>

<% if @business.segments.order('level desc, updated_at asc').first.id != segment.id%>
<%= link_to "/segments/change_level/#{segment.id}?to=up", class: "icon", remote: true do %>
<i class="fe fe-chevrons-up" style='vertical-align:-3px;'></i>
<%end%>
<%else%>
<span class='icon'><i class="fe fe-chevrons-up" style='vertical-align:-3px;color:#f2f4f9'></i></span>
<%end%>
<span  style='font-size: 70%; padding-top: 5px;'><%=t :level %></span>
<% if @business.segments.order('level desc, updated_at asc').last.id != segment.id%>
<%= link_to "/segments/change_level/#{segment.id}?to=down", class: "icon", remote: true do %>
<i class="fe fe-chevrons-down" style='vertical-align:-3px;'></i>
<%end%>
<%else%>
<span class='icon'><i class="fe fe-chevrons-up" style='vertical-align:-3px;color:#f2f4f9'></i></span>
<%end%>
<% if segment.ext_code.blank?%>
<%= link_to segment, method: :delete, remote: true, class: "icon" ,data: { confirm: 'Are you sure?' } do %>
<i class="fe fe-trash" style='vertical-align:-3px;'></i>
<%end%>
<%end%>
