
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" id="customer_name_label"><%=t :your_fullname%></label>
      <% if user_signed_in?%>
        <%= text_field_tag :customer_name, current_user.profile.name, {class: "form-control", disabled: true} %>
      <% else%>
        <%= text_field_tag :customer_name, nil , {class: "form-control"} %>
      <%end%>
      </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" id="customer_mobile_label"><%=t :your_mobile%></label>
      <% if user_signed_in?%>
        <%= text_field_tag :customer_mobile, current_user.profile.phonenumber, {class: "form-control", disabled: true} %>
      <% else%>
        <%= text_field_tag :customer_mobile, nil , {class: "form-control"} %>
      <%end%>
    </div>
  </div>
</div>
<div class="row" id="your_address">
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" id="customer_province_label"><%=t :your_province%></label>
      <% if user_signed_in?%>
        <%= select_tag :customer_province, options_for_select(Province.all.collect{ |u| [u.name, u.id] }, current_user.profile.province.id), {class: "form-control", disabled: true} %>
      <% else%>
        <%= select_tag :customer_province, options_for_select(Province.all.collect{ |u| [u.name, u.id] }) , {class: "form-control"} %>
      <%end%>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" id="customer_address_label"><%=t :your_address%></label>
      <% if user_signed_in?%>
        <%= text_area_tag :customer_address, current_user.profile.address, {class: "form-control", disabled: true} %>
      <% else%>
        <%= text_area_tag :customer_address, nil, {class: "form-control"} %>
      <%end%>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" id="customer_postal_code_label"><%=t :your_postal_code%></label>
      <% if user_signed_in?%>
        <%= text_field_tag :customer_postal_code, current_user.profile.postal_code, {class: "form-control", disabled: true} %>
      <% else%>
        <%= text_field_tag :customer_postal_code, nil, {class: "form-control"} %>
      <%end%>
    </div>
  </div>
</div>

<div class="row" id="reciver_address"  style="display:none;">
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" id="reciever_province_label"><%=t :reciever_province%></label>
      <%= select_tag :reciever_province, options_for_select(Province.all.collect{ |u| [u.name, u.id] }) , {class: "form-control"} %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" id="reciever_address_label"><%=t :reciever_address%></label>
      <%= text_area_tag :reciever_address, nil, {class: "form-control"} %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" id="reciever_postal_code_label"><%=t :reciever_postal_code%></label>
      <%= text_field_tag :reciever_postal_code, nil, {class: "form-control"} %>
    </div>
  </div>
</div>

<% if !user_signed_in?%>
<div class="row">
  <div class="col-md-4">
      <label class="custom-switch mt-1">
        <input type="checkbox" name="will_to_register" id='will_to_register' class="custom-switch-input">
        <span class="custom-switch-indicator"></span>
        <span class="custom-switch-description" style='font-size: 80%;'><%=t :want_to_become_a_member%></span>
      </label>
  </div>
  <script>
  $('.custom-switch-input').change(function() {
    console.log($(this));
      if($(this).is(":checked")) {
      $('#passwords').attr('style', '');
    } else {
      $('#passwords').attr('style', 'display:none;');
    }
  });
  </script>
</div>
<%end%>
<% if !user_signed_in?%>
<div class="row" id='passwords' style="display:none;">
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" id="password_label"><%=t :password%></label>
      <%= password_field_tag :password, nil, {class: "form-control"} %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" id="password_confirmation_label"> <%=t :password_confirmation%> </label>
      <%= password_field_tag :password_confirmation, nil, {class: "form-control"} %>
    </div>
  </div>
</div>
<%end%>
<% if user_signed_in?%>
<div class="col-md-4">
<a href='/profiles/<%= current_user.profile.id%>/edit?caller=cart' class='btn btn-warning'><%=t :edit_your_information%></a>
</div>
<%end%>
