<div class='row'>
  <div class="col-lg-12 order-lg-1">
    <div class="card">
      <div class="card-body">
        <div class='row'>
          <div class='col-md-12 col-lg-12'>
            <div class="alert alert-primary" role="alert">
              <%=t :please_check_the_content_of_the_order%>
            </div>
            <div class='text-center'>
              <a href='/orders/finilize/<%= @order.id%>' class='btn btn-success'><%=t :finilize_my_order%></a>
            </div>
            <div class='row'>
              <div class='col-md-6 col-lg-6'>
                <strong style='font-family: times;'><%=t :uuid%>: <%= @order.uuid%></strong>
              </div>
              <div class='col-md-6 col-lg-6'>
                <strong><%=t :created_at%>:
                  <% @jalali = JalaliDate.to_jalali(@order.created_at)%>
                  <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
                 </strong>
              </div>
            </div>
            <hr class="mb-2 mt-2">
            <div class='row'>
              <div class='col-md-6 col-lg-6'>
                <strong><%=t :customer_name%>:</strong> <%= @order.customer_name%>
              </div>
              <div class='col-md-6 col-lg-6'>
                <strong><%=t :customer_mobile%>:</strong> <%= @order.customer_mobile%>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-6 col-lg-6'>
                <strong><%=t :customer_province%>:</strong> <%= Province.find(@order.customer_province).name rescue nil%>
              </div>
              <div class='col-md-6 col-lg-6'>
                <strong><%=t :customer_postal_code%>:</strong> <%= @order.customer_postal_code%>
              </div>
              <div class='col-md-6 col-lg-6'>
                <strong><%=t :customer_address%>:</strong> <%= @order.customer_address%>
              </div>
            </div>
            <hr class="mb-2 mt-2">
            <div class='row'>
              <div class='col-md-6 col-lg-6'>
                <strong><%=t :reciever_name%>:</strong> <%= @order.customer_name%>
              </div>
              <div class='col-md-6 col-lg-6'>
                <strong><%=t :reciever_mobile%>:</strong> <%= @order.customer_mobile%>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-6 col-lg-6'>
                <strong><%=t :reciever_province%>:</strong> <%= Province.find(@order.reciever_province).name rescue nil%>
              </div>
              <div class='col-md-6 col-lg-6'>
                <strong><%=t :reciever_postal_code%>:</strong> <%= @order.reciever_postal_code%>
              </div>
              <div class='col-md-6 col-lg-6'>
                <strong><%=t :reciever_address%>:</strong> <%= @order.reciever_address%>
              </div>
            </div>
            <hr class="mb-2 mt-2">

            <table class="table card-table table-striped table-vcenter">
              <thead>
                <tr>
                  <th class="w-1">#</th>
                  <th class="w-1"></th>
                  <th class="text-left w-25"><%=t :product_name%></th>
                  <th><%=t :count%></th>
                  <th><%=t :price%></th>
                  <th><%=t :total_price%></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%@i = 1%>
                <% for item in @order.order_items%>
                <tr>
                  <td><%= @i%><%@i += 1%></td>
                  <td>
                    
                  </td>
                  <td><%= item.product_name%></td>
                  <td class="text-nowrap">
                    <%= item.quantity%>
                  </td>
                  <td><%= item.unit_price%></span></td>
                  <td><span class='total_price'><%= item.total_price%></span> <span><%= rcurrencies(1)%></span></td>
                </tr>
                <%end%>
                <% @taxation = @business.taxations.first%>
                <% @sale_setting = @business.sale_setting%>
                <%  @shipping_cost = @business.shipping_costs.where(province_id: @order.reciever_province)%>
                <% if !@taxation.blank? && !@sale_setting.blank? && @sale_setting.vat%>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class='text-right'><strong><%=t :vat%></strong></td>
                  <td >
                    <strong id='vat'><%=@order.tax%></strong> <strong><%= rcurrencies(cart.cart_items.first.product.currency) rescue nil%></strong>
                  </td>
                  <td></td>
                </tr>
                <%end%>
                <% if !@shipping_cost.blank? && !@sale_setting.blank? && @sale_setting.shipping_cost%>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class='text-right'><strong><%=t :shipping_cost%></strong></td>
                  <td >
                    <strong id='vat'><%=@order.shipping%></strong> <strong><%= rcurrencies(cart.cart_items.first.product.currency) rescue nil%></strong>
                  </td>
                  <td></td>
                </tr>
                <%end%>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class='text-right'><strong><%=t :total_sum%></strong></td>
                  <td>
                    <strong id='total_sum'><%= @order.total%></strong> <strong><%= rcurrencies(cart.cart_items.first.product.currency) rescue nil%></strong>
                  </td>
                  <td></td>
                </tr>
                <script>
                $('.count').on('change', function() {
                  var product_id = this.id.split('_')[1];
                  var price = $('#price_'+product_id).text();
                  var count = parseInt($('#count_'+product_id).children("option:selected").val());
                  var currency = $('#currency_'+product_id).text();
                  $('#total_price_'+product_id).text(price*count);
                  $('#total_currency_'+product_id).text(currency);
                  var total_sum = 0
                  $('.total_price').each(function(item){
                    total_sum = total_sum + parseInt($(this).text());
                    if(item == $('.total_price').length - 1 ){
                      $('#total_sum').text(total_sum);
                    }
                  });
                });
                </script>

              </tbody>
            </table>
            <div class='text-center'>
              <a href='/orders/finilize/<%= @order.id%>' class='btn btn-success'><%=t :finilize_my_order%></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
