<table class="table card-table table-striped table-vcenter">
  <thead>
    <tr>
      <th class="w-1">#</th>
      <th class="w-1"></th>
      <th class="text-left w-25"><%=t :product_name%></th>
      <th><%=t :count%></th>
      <th><%=t :price%></th>
      <th><%=t :total_price%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%@i = 1%>
    <% for item in cart.cart_items%>
    <%if !item.product.blank?%>
    <tr>
      <td><%= @i%><%@i += 1%></td>
      <td>
        <span class="avatar" style="background-image: url(<%= item.product.image('thumb')%>)"></span>
      </td>
      <td><%= link_to item.product.title, item.product%></td>
      <td class="text-nowrap">
        <%= select_tag "count_#{item.product.id}", options_for_select((1..10).step(1).collect {|p| [ "#{p}", p ] }), { :class => "form-control col-md-8 count" } %>
      </td>
      <td><span id='price_<%=item.product.id%>'><%= item.product.priced%></span> <span id='currency_<%=item.product.id%>'><%= rcurrencies(item.product.currency)%></span></td>
      <td><span class='total_price' id='total_price_<%=item.product.id%>'><%= item.product.price%></span> <span id='total_currency_<%=item.product.id%>'><%= rcurrencies(item.product.currency)%></span></td>
      <td>
        <%= link_to "/carts/remove_from_cart/#{cart.id}?product_id=#{item.product.id}", class: "icon", remote: true do %>
        <i class="fe fe-trash"></i>
        <%end%>
      </td>
    </tr>
    <%end%>
    <%end%>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='text-right'><strong><%=t :total_sum%></strong></td>
      <td >
        <% @price = 0%>
        <% cart.cart_items.each do |item|%>
        <%if !item.product.blank?%>
        <% @price += item.product.price.to_i %>
        <%end%>
        <%end%>
        <strong id='total_sum'><%= @price%></strong> <strong><%= rcurrencies(cart.cart_items.first.product.currency) rescue nil%></strong>
      </td>
      <td></td>
    </tr>
    <script>
    $('.count').on('change', function() {
      var product_id = this.id.split('_')[1];
      var price = $('#price_'+product_id).text();
      var count = parseInt($('#count_'+product_id).children("option:selected").val());
      var currency = $('#currency_'+product_id).text();
      $('#total_price_'+product_id).text(price*count);
      $('#total_currency_'+product_id).text(currency);
      var total_sum = 0
      $('.total_price').each(function(item){
        total_sum = total_sum + parseInt($(this).text());
        if(item == $('.total_price').length - 1 ){
          $('#total_sum').text(total_sum);
        }
      });
    });
    </script>

  </tbody>
</table>
