<div class='row'>
  <div class='col-md-12 col-lg-12'>
    <%= form_for Order.new, remote: true do%>
    <div id='remove_from_cart'>
      <%= render partial: 'carts/cart_items', locals:{ cart: cart}%>
    </div>
    <% @sale_setting = @business.sale_setting%>
    <% if @sale_setting.blank? || user_signed_in? || !@sale_setting.force_signin%>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="form-label"><%=t :reciever_info%></div>
          <div class="custom-controls-stacked">
            <label class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" name="reciever_info" value="my_self" checked="">
              <span class="custom-control-label pr-5"><%=t :my_self%></span>
            </label>
            <label class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" name="reciever_info" value="some_one_else">
              <span class="custom-control-label pr-5"><%=t :some_one_else%></span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <script>
      $('.custom-control-input').change(function() {
        if (this.value == 'my_self') {
          $('#reciver_address').attr('style', 'display:none;');
          $('#reciver_name').attr('style', 'display:none;');
          $('#your_address').attr('style', '');
        }
        else if (this.value == 'some_one_else') {
          $('#reciver_address').attr('style', '');
          $('#reciver_name').attr('style', '');
          $('#your_address').attr('style', 'display:none;');
        }
      });
    </script>

    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'orders/address_form'%>
      </div>
    </div>
    <% end%>
    <%end%>
    <% if @sale_setting.blank? || user_signed_in? || !@sale_setting.force_signin%>
    <div class="card-footer text-right">
      <a href='#' id='order-btn' class="btn btn-success"><%=t :complete_order%> <i class="fe fe-arrow-left"></i></a>
    </div>
    <%else%>
    <div class="card-footer text-right">
      <a href='/users/sign_in' class="btn btn-warning"><%=t :to_complete_signin%> <i class="fe fe-arrow-left"></i></a>
    </div>
    <%end%>
    <script>
      $('#order-btn').click(function(event) {
        $('#mobile-error').remove();
        $('#password_confirmation-error ').remove();
        event.preventDefault();
      $.ajax({
        type: "POST",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        url: '/orders',
        dataType: 'JSON',
        data: $("#new_order").serialize(),
        success: function(response){
          console.log(response);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
         if (XMLHttpRequest.responseJSON.error == "Saving User") {
           if ( typeof XMLHttpRequest.responseJSON.why.mobile !== "undefined"){
             $('#customer_mobile').addClass('is-invalid');
             $('#customer_mobile_label').append("<span id='mobile-error' style='color:red;'>" + XMLHttpRequest.responseJSON.why.mobile + "</span>");
           }
           if ( typeof XMLHttpRequest.responseJSON.why.password_confirmation !== "undefined"){
             $('#password_confirmation').addClass('is-invalid');
             $('#password_confirmation_label').append("<span id='password_confirmation-error' style='color:red;'> " + XMLHttpRequest.responseJSON.why.password_confirmation + "</span>");
           }
         }
        }
      });
    });
    </script>
  </div>
</div>
