<%= form_for(@classification, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :new_classification %></h3>
</div>
<% if @classification.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@classification.errors.count, "error") %> prohibited this classification from being saved:</h2>

  <ul>
    <% @classification.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-body">
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :business_id, class: "form-label" %>
      <%= f.number_field :business_id , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :category_id, class: "form-label" %>
      <%= f.number_field :category_id , class: "form-control" %>
          </div>
  </div>
</div>
<div class="card-footer text-right">
  <button type="submit" class="btn btn-primary"><%=t :submit%></button>
</div>
<% end %>
