<%= form_for(@order_item, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :new_order_item %></h3>
</div>
<% if @order_item.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

  <ul>
    <% @order_item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-body">
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :product_id, class: "form-label" %>
      <%= f.number_field :product_id , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :order_id, class: "form-label" %>
      <%= f.number_field :order_id , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :unit_price, class: "form-label" %>
      <%= f.text_field :unit_price , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :quantity, class: "form-label" %>
      <%= f.number_field :quantity , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :total_price, class: "form-label" %>
      <%= f.number_field :total_price , class: "form-control" %>
          </div>
  </div>
</div>
<div class="card-footer text-right">
  <button type="submit" class="btn btn-primary"><%=t :submit%></button>
</div>
<% end %>
