<%= form_for(@product, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :new_product %></h3>
</div>
<% if @product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title , class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :brand, class: "form-label" %>
        <%= f.text_field :brand , class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :price, class: "form-label" %>
        <div class="row gutters-xs">
          <div class="col">
            <%= f.text_field :price , class: "form-control" %>
          </div>
          <span class="col-auto">
            <%= f.select( :currency, currencies, {include_blank: true}, {:class => "form-control"})  %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :category_id, class: "form-label" %>
        <% if @product.category.blank?%>
        <%= select_tag "category", options_for_select(Category.where('parent_id IN (?)', @business.classifications.pluck(:category_id)).order(:title).collect { |p| [ "#{Category.find(p.parent_id).title} > #{p.title}", p.id ] }) , { :include_blank =>true, :class => "form-control"}%>
        <%else%>
        <%= select_tag "category", options_for_select(Category.where('parent_id IN (?)', @business.classifications.pluck(:category_id)).order(:title).collect { |p| [ "#{Category.find(p.parent_id).title} > #{p.title}", p.id ] }, @product.category.id) , { :include_blank =>true, :class => "form-control"}%>
        <%end%>
      </div>
    </div>
  </div>
  <div id='sub_category_row' class="row" <% if @product.subcategory.blank?%>style="display:none"<%end%>>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :sub_category_id, class: "form-label" %>
        <% if @product.category.blank? || @product.subcategory.blank?%>
        <%= select_tag "subcategory", nil, { :class => "form-control", disabled: true}%>
        <%else%>
        <%= select_tag "subcategory", options_for_select(Category.where(parent_id: @product.category.id).order(:title).collect { |p| [ "#{p.title}", p.id ]}, @product.subcategory.id) , { :include_blank =>true, :class => "form-control"}%>
        <%end%>
      </div>
    </div>
  </div>
  <div id='sub_sub_category_row' class="row" <%if @product.subsubcategory.blank? %>style="display:none"<%end%>>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :sub_sub_category_id, class: "form-label" %>
        <% if @product.category.blank? || @product.subcategory.blank? || @product.subsubcategory.blank? %>
        <%= select_tag "subsubcategory", nil , { :class => "form-control", disabled: true}%>
        <%else%>
        <%= select_tag "subsubcategory", options_for_select(Category.where(parent_id: @product.subcategory.id).order(:title).collect { |p| [ "#{p.title}", p.id ]}, @product.subsubcategory.id) , { :include_blank =>true, :class => "form-control"}%>
        <%end%>
      </div>
    </div>
  </div>
  <div >

    <div id='specs' class="alert alert-secondary" style='<%if @product.specifications.count == 0%>display:none;<%end%>background-color:#eeeeef;' role="alert">
      <div class="alert alert-warning" role="alert">
        <i class="fe fe-alert-triangle"></i> <%=t :please_fill_the_following_specs_it_is_not_mandantory%>
      </div>
      <% for specification in @product.specifications%>
      <div class='col-md-5'>
        <div class='form-group small'>
          <label class='form-label'><%= specification.spec.title%></label>
          <input class='form-control' type='text' name='productparam-<%= specification.spec.id%>' value='<%= specification.spec_value%>'>
        </div>
      </div>
      <%end%>
    </div>
  </div>
  <script>
  $('select[name="category"]').on('change', function() {
    var category_id = $(this).val();
    $.ajax({
      type: "GET",
      url: "/categories/get_children/1",
      data: {category_id : category_id},
      success: function (data) {
        if(data.length > 0){
          $('#sub_category_row').css('display','block');
          var $el = $('select[name="subcategory"]');
          $el.prop("disabled", false);
          $el.empty();
          $('select[name="subsubcategory"]').empty();
          $el.append("<option></option>");
          $.each(data, function(item) {
            $el.append($("<option></option>")
            .attr("value", data[item]['id']).text(data[item]['title']));
          });
        }else{
          $('#specs').css('display','none');
          $('#specs').empty();
          $('#sub_category_row').css('display','none');
          $('#sub_sub_category_row').css('display','none');
          $('select[name="subcategory"]').find('option').remove().end();
          $('select[name="subsubcategory"]').find('option').remove().end();
        }
      },
      error: function(){
        $('#specs').css('display','none');
        $('#specs').empty();
        $('#sub_category_row').css('display','none');
        $('#sub_sub_category_row').css('display','none');
        $('select[name="subcategory"]').find('option').remove().end();
        $('select[name="subsubcategory"]').find('option').remove().end();
      }
    });
  });
  </script>

  <script>
  $('select[name="subcategory"]').on('change', function() {
    var category_id = $(this).val();
    $.ajax({
      type: "GET",
      url: "/categories/specs/"+category_id,
      data: {category_id : category_id},
      success: function (data) {
        if(data.length > 0){
          $('#specs').css('display','block');
          $('#specs').html("");
          $.each(data, function(item) {
            $('#specs').append("<div class='col-md-5'><div class='form-group small'><label class='form-label'>"+data[item]['title']+"</label><input class='form-control' type='text' name='productparam-"+data[item]['id']+"'></div></div>");
          });

        } else {
          $('#specs').css('display','none');
          $('#specs').empty();
        }
      },
      error: function (){
        $('#specs').css('display','none');
        $('#specs').empty();
      }
    });

    $.ajax({
      type: "GET",
      url: "/categories/get_children/1",
      data: {category_id : category_id},
      success: function (data) {
        if(data.length > 0){
          $('#sub_sub_category_row').css('display','block');
          var $el = $('select[name="subsubcategory"]');
          $el.prop("disabled", false);
          $el.empty();
          $el.append("<option></option>");
          $.each(data, function(item) {
            $el.append($("<option></option>")
            .attr("value", data[item]['id']).text(data[item]['title']));
          });
        } else {
          $('#sub_sub_category_row').css('display','none');
          $('select[name="subsubcategory"]').find('option').remove().end();
        }
      },
      error: function (){
      }
    });
  });
  </script>

  <script>
  $('select[name="subsubcategory"]').on('change', function() {
    var category_id = $(this).val();
    $.ajax({
      type: "GET",
      url: "/categories/specs/"+category_id,
      data: {category_id : category_id},
      success: function (data) {
        $('#specs').html('');
        if(data.length > 0){
          $('#specs').empty();
          $('#specs').css('display','block');
          $.each(data, function(item) {
            $('#specs').append("<div class='col-md-5'><div class='form-group small'><label class='form-label'>"+data[item]['title']+"</label><input class='form-control' type='text' name='productparam-"+data[item]['id']+"'></div></div>");
          });
        }else{
          $('#specs').css('display','none');
          $('#specs').empty();
        }
      },
      error: function (){
        $('#specs').css('display','none');
        $('#specs').empty();
      }
    });
  });
  </script>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description, class: "form-label" %>
        <%= f.text_area :description, rows: 5 , class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="card-footer text-right">
    <button type="submit" class="btn btn-primary"><%=t :submit%></button>
  </div>
  <% end %>
