<div class="row row-cards">
  <div class="col-lg-3 ">
    <% if current_user.id == @business.user_id%>
    <div class="list-group list-group-transparent mb-4 text-center">
      <%= link_to '/products/new', class: "list-group-item list-group-item-action active small", style:'font-weight:normal;' do%>
      <i class="fe fe-plus-square" style="vertical-align:middle;"></i> <%=t :add_new_product%>
      <%end%>
    </div>
    <%end%>

    <%= form_tag '/products', method: :get, class:'card' do -%>
    <div class="card-body pr-3 pl-3">
      <div class="mb-4">
        <div class="form-group">
          <div class="form-label"><strong><%=t :categories%></strong></div>
          <div class="custom-controls-stacked">
            <%@i = 1%>
            <%@business.products.all.group_by(&:category).each do |g,p|%>
            <label class="custom-control custom-checkbox pl-4 pr-0">
              <input type="checkbox" class="custom-control-input" id="category-id-<%=g.id%>" name="category-id-<%=g.id%>" value="<%= g.id%>" <%if params["category-id-#{g.id}"].to_i == g.id%>checked=""<%end%>>
              <span class="custom-control-label pr-5 small"><%= g.title%></span>
                <%@business.products.all.group_by(&:subcategory).each do |s, i|%>
                    <% if s.parent_id == g.id && (params["category-id-#{g.id}"].to_i == g.id || ( params["category-id-#{g.id}"].to_i != g.id && params["subcategory-id-#{s.id}"].to_i == s.id))%>
                      <label class="custom-control custom-checkbox pl-4 pr-0">
                        <input type="checkbox" class="custom-control-input" parent="category-id-<%= g.id%>" name="subcategory-id-<%=s.id%>" value="<%= s.id%>" <%if params["subcategory-id-#{s.id}"].to_i == s.id || (params["subcategory-id-#{s.id}"].to_i != s.id && params["category-id-#{g.id}"].to_i == g.id )%>checked=""<%end%>>
                        <span class="custom-control-label pr-5 small"><%= s.title%></span>
                      </label>
                    <%end%>
                <%end%>
            </label>
            <% @i += 1%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-center">
        <button type="button" id='clear' class="btn btn-gray btn-sm"><i class="fe fe-delete" style="vertical-align:-3px;"></i> <%=t :clear%> </button>
        <button type="submit" class="btn btn-lime btn-sm"><i class="fe fe-filter" style="vertical-align:-3px;"></i> <%=t :filter%> </button>
      </div>
    </div>
    <script>
    $(document).ready(function() {
      $( "#clear" ).on("click", function(){
        $('input:checkbox').removeAttr('checked');
        $(this).val('check all');
      })

      $( ".custom-control-input" ).on("change", function(){
        if ($(this).attr('parent') != undefined) {
          $('#'+$(this).attr('parent')).removeAttr('checked');
        }
        }
      })
    });
    </script>
    <%end%>
  </div>
  <div class="col-lg-9 order-lg-1">
    <div class="card">
      <table class="table card-table table-vcenter">
        <thead>
          <tr>
            <th class="text-center w-9"><i class="icon-people"></i></th>
            <th><%=t :product_name%></th>
            <th class="text-center w-9"></th>
            <th class=" text-center w-10"><%=t :price%></th>
            <th class="text-right w-8 "></th>
          </tr>
        </thead>
        <tbody>
          <% for product in @products %>
          <% @upload = Upload.where(uploadable_type: 'Product', uploadable_id: product.id, attachment_type: 'product_attachment').first%>
          <tr>
            <td><img src="<%if !@upload.blank?%><%= @upload.attachment(:thumb)%><%else%>/assets/noimage-35-thumb.jpg<%end%>" alt="" class="h-7"></td>
            <td>
              <div><strong><%= truncate(product.title, length: 20)%></strong></div>
            </td>
            <td class="text-center text-muted">
              <i class="fa fa-heart-o" style="color: grey !important;vertical-align: middle;"></i> <span style="font-size:0.8rem">(<%= Like.where(likeable_type: 'Product', likeable_id: product.id).count%>)</span>
            </td>

            <td class="text-right">
              <% if !product.price.blank?%>
              <div><strong><%= product.price%> <%= rcurrencies(product.currency)%></strong></div>
              <%end%>
            </td>
            <td class="text-center">
              <a href='/products/<%= product.id%>' class="btn btn-sm btn-secondary"><i class="fe fe-play"></i><%=t :view%></a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
