<div class="row row-cards">
  <div class="col-lg-3 ">
    <% if current_user.id == @business.user_id%>
    <div class="list-group list-group-transparent mb-4 text-center">
      <%= link_to '/products/new', class: "list-group-item list-group-item-action active small", style:'font-weight:normal;' do%>
      <i class="fe fe-plus-square" style="vertical-align:middle;"></i> <%=t :add_new_product%>
      <%end%>
    </div>
    <%end%>
  </div>
  <div class="col-lg-9 order-lg-1">
    <div class="card">
      <table class="table card-table table-vcenter">
        <tbody>
          <% @products.each do |product| %>
          <% @upload = Upload.where(uploadable_type: 'Product', uploadable_id: product.id, attachment_type: 'product_attachment').first%>
          <tr>
            <td><img src="<%if !@upload.blank?%><%= @upload.attachment(:thumb)%><%else%>/assets/noimage-35-thumb.jpg<%end%>" alt="" class="h-7"></td>
            <td>
              <%= product.title%>
            </td>
            <td class="text-right text-muted d-none d-md-table-cell text-nowrap">
              
            </td>
            <td class="text-right text-muted d-none d-md-table-cell text-nowrap">

            </td>
            <td class="text-right">
              <% if !product.price.blank?%>
                <strong><%= product.price%> <%= rcurrencies(product.currency)%></strong>
              <%end%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
