<div class="row row-cards">
  <div class="col-lg-3 ">
    <% if user_signed_in? && current_user.id == @business.user_id%>
    <div class="list-group list-group-transparent mb-4 text-center">
      <%= link_to '/products/new', class: "list-group-item list-group-item-action active small", style:'font-weight:normal;' do%>
      <i class="fe fe-plus-square" style="vertical-align:middle;"></i> <%=t :add_new_product%>
      <%end%>
    </div>
    <%end%>
    <%= render partial: 'products/product_sidebar'%>

  </div>
  <div class="col-lg-9 order-lg-1">
    <div class="card">
      <div class="table-responsive">
      <table class="table card-table table-vcenter">
        <thead>
          <tr>
            <th class="text-center w-9"><i class="icon-people"></i></th>
            <th><%=t :product_name%></th>
            <th class="text-center w-9"></th>
            <th class=" text-center w-10"><%=t :price%></th>
            <th class="text-right w-8 "></th>
          </tr>
        </thead>
        <tbody>
          <% for product in @products %>
          <% @upload = Upload.where(uploadable_type: 'Product', uploadable_id: product.id, attachment_type: 'product_attachment').first%>
          <tr>
            <td><img src="<%if !@upload.blank?%><%= @upload.attachment(:thumb)%><%else%>/assets/noimage-35-thumb.jpg<%end%>" alt="" class="h-7"></td>
            <td>
              <div class="text-muted small"><strong><%= truncate(product.title, length: 20)%></strong></div>
            </td>
            <td class="text-center text-muted">
              <i class="fa fa-heart-o" style="color: grey !important;vertical-align: middle;"></i> <span style="font-size:0.8rem">(<%= Like.where(likeable_type: 'Product', likeable_id: product.id).count%>)</span>
            </td>

            <td class="text-right">
              <% if !product.price.blank?%>
              <div class="small"><strong><%= product.priced%> <%= rcurrencies(product.currency)%></strong></div>
              <%end%>
            </td>
            <td class="text-center">
              <a href='/products/<%= product.id%>' class="btn btn-sm btn-secondary"><i class="fe fe-play"></i><%=t :view%></a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
