<div class='row'>
  <div class="col-lg-4 order-lg-1">
    <div class="card">
      <div class="card-body mb-4">
        <div id="carousel-indicators" class="carousel slide" data-ride="carousel">
          <% @uploads = Upload.where(uploadable_type: 'Product', uploadable_id: @product.id, attachment_type: 'product_attachment')%>
          <ol class="carousel-indicators">
            <%@i = 0%>
            <% for upload in @uploads%>
            <li data-target="#carousel-indicators" data-slide-to="<%=@i%>" class="<% if upload.id == @uploads.first.id%>active<%end%>"></li>
            <% @i += 1%>
            <%end%>
          </ol>
          <div class="carousel-inner">

            <% for upload in @uploads%>
            <div class="carousel-item <% if upload.id == @uploads.first.id%>active<%end%>">
              <img class="d-block w-100" alt="" src="<%= upload.attachment(:medium)%>" data-holder-rendered="true">
            </div>
            <%end%>
          </div>
        </div>
        <div class='text-center mt-2'>
          <strong><%=t :price %>: <%= @product.priced%> <%= rcurrencies(@product.currency)%></strong>
          <%= render partial: 'carts/add_to_cart', locals: {product: @product, cart: @cart}%>
        </div>
      </div>
    </div>

    <div  style="display: inline;">
      <div class="list-group list-group-transparent mb-2 text-center" >
        <div class="row">
          <div class="list-group-item list-group-item-action active small ml-3 mr-2" style="width:45%; display:inline-block;">
            <%= render partial: 'likes/liike', locals: {item: @product}%>
          </div>
          <div class="list-group-item list-group-item-action active small" style="width:45%;display:inline-block;"><span class='small'><i class="fe fe-help-circle" style="vertical-align:-3px;"></i> <%=t :q_and_a%></span></div>
        </div>
      </div>
    </div>

    <% if current_user.id == @business.user_id%>
    <div class="list-group list-group-transparent mb-2 text-center">
      <%= link_to '/products/'+@product.id.to_s+'/edit', class: "list-group-item list-group-item-action active small", style:'font-weight:normal;' do%>
      <i class="fe fe-edit" style="vertical-align:middle;"></i> <%=t :edit_your_product%>
      <%end%>
    </div>

    <div class="list-group list-group-transparent mb-2 text-center">
      <%= link_to @product, method: :delete, data: { confirm: 'Are you sure?' } , class: "list-group-item list-group-item-action active small", style:'font-weight:normal;' do%>
      <i class="fe fe-trash" style="vertical-align:middle;"></i> <%=t :delete_this_product%>
      <%end%>
    </div>
    <%end%>

  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title" style="font-size: 0.8rem; color:#9ea0a2;">
          <%if !@product.category.blank?%><%= @product.category.title %><%end%>
          <%if !@product.subcategory.blank?%>/ <%= @product.subcategory.title %><%end%>
          <%if !@product.subsubcategory.blank?%>/ <%= @product.subsubcategory.title%><%end%>
        </h5>
        <div class="card-options">
        </div>
      </div>

      <div class="card-body">
        <div class='row'>
          <div class='col-md-12 col-lg-12'>
            <div class="form-group">
              <%= label :product, :title , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @product.title %></div>
            </div>
            <div class="form-group" >
              <%= label :product, :description , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext" style="text-align:justify;">
                <%= @product.description %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class='card'>
      <div class="card-header">
        <h3 class="card-title" style="font-size: 0.8rem; color:#9ea0a2;"><i class="fe fe-info" style="vertical-align:-3px;"></i> <%=t :specifications%></h3>
        <div class="card-options">

        </div>
      </div>
      <div class='card-body'>
        <% for specification in @product.specifications%>
        <div class="form-group">
          <label class='form-label' style='color: #7795c1;'><%= specification.spec.title%></label>
          <div class="form-control-plaintext"><%= specification.spec_value%></div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
