<footer class="footer">
  <div class="container">
    <div class="row align-items-center flex-row-reverse small">
      <div class="col-auto mr-auto">
        <div class="row align-items-center">
          <div class="col-auto">
            <ul class="list-inline list-inline-dots mb-0">
              <% if !@business.blank?%>
                <li class="list-inline-item"><a href="/businesses/<%= @business.id%>"><%=t :about_us%></a></li>
              <%end%>
              <li class="list-inline-item"><a href="/faqs"><%=t :faqs%></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center small">
        <%if !@business.blank?%>
          <%=t :all_rights_is_reserved_to_the_owner_of_site%> '<%= @business.title%>'
        <%end%>
      </div>
    </div>
  </div>
</footer>
