<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="/">
        <img src="<%= @business.image('thumb')%>" class="header-brand-img" alt="tabler logo">
        <%= @business.title%>
      </a>
      <div class="d-flex order-lg-2 mr-auto">
        <div class="nav-item d-none d-md-flex">
          <% if !user_signed_in?%>
            <a href="/users/sign_in" class="btn btn-sm btn-secondary"><%=t :sign_in_or_sign_up%></a>
          <%end%>
        </div>
        <div class="dropdown" >
          <% if !current_user.blank?%>
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(<%= current_user.profile.avatar(:thumb)%>)"></span>
            <span class="ml-2 d-none d-lg-block">
              <span class="text-default"><%= current_user.profile.fullname%></span>
              <small class="text-muted d-block mt-1"><%= Role.find_by_id(current_user.current_role_id).title rescue nil%></small>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style=" right: auto !important;">
            <a class="dropdown-item" href="/profiles/<%= current_user.profile.id%>">
              <i class="dropdown-icon fe fe-user"></i><%=t :my_profile%>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/sign_out">
              <i class="dropdown-icon fe fe-log-out"></i><%=t :sign_out%>
            </a>
          </div>
          <%end%>
        </div>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <%= render partial:'carts/cart_header', locals: {cart: @cart}%>
      <div class="col-lg-3 ml-auto">
        <form action="/home/advanced_search" accept-charset="UTF-8" method="get" class="input-icon my-3 my-lg-0">
          <input type="search" name="q" class="form-control header-search" placeholder="<%=t :search%>…" tabindex="1" value="<%= params[:q]%>">
          <div class="input-icon-addon">
            <i class="fe fe-search"></i>
          </div>
        </form>
      </div>

      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <a href="/" class="nav-link"><i class="fe fe-home"></i><%=t :home%></a>
          </li>
          <li class="nav-item">
            <a href="/products" class="nav-link"><i class="fe fe-box"></i><%=t :products%></a>
          </li>
          <li class="nav-item">
            <a href="/businesses/<%= @business.id%>" class="nav-link"><i class="fe fe-alert-circle"></i><%=t :about_us%></a>
          </li>
          <li class="nav-item">
            <a href="/orders" class="nav-link"><i class="fe fe-shopping-cart"></i><%=t :orders%></a>
          </li>
          <% if user_signed_in?%>
          <li class="nav-item">
            <a href="/home/settings" class="nav-link"><i class="fe fe-settings"></i><%=t :settings%></a>
          </li>
          <%end%>


        </ul>
      </div>
    </div>
  </div>
</div>
<div class="header collapse d-lg-flex p-0" style="background-color:#515151;">
  <div class="container">
    <div class="row align-items-center  h-6 pr-4">
      <ul class="nav nav-tabs border-0 flex-column flex-lg-row text-white">
        <% @business.products.all.group_by(&:category).take(7).each do |g,p|%>
        <% if !g.blank?%>
          <li class="nav-item"><a href="/products?category-id-<%= g.id%>=<%= g.id%>" class="nav-link"><%=truncate(g.title, length:22)%></a></li>
        <%end%>
        <%end%>
      </ul>
      <div class='mr-auto text-white'><a href='/products' class='text-white'><%=t :all%></a></div>
    </div>
  </div>
</div>
