<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />
  <meta name="msapplication-TileColor" content="#2d89ef">
  <% if !@business.blank? && !@business.theme.blank?%>
  <meta name="theme-color" content="<%= @business.theme.header_background%>">
  <% else%>
  <meta name="theme-color" content="#4188c9">
  <%end%>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <link rel="manifest" href="/manifest.json">
  <title>Divan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.min.css" type="text/css" rel="stylesheet" />
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  <style>
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  </style>
<% if !@business.blank? && !@business.theme.blank?%>
  <style>
  .header {
    background: <%= @business.theme.header_background%>;
    <%if !@business.theme.header_border_bottom.blank?%>
      border-bottom: 1px solid <%= @business.theme.header_border_bottom%>
    <%end%>
  }
  .nav-tabs {
    color: <%= @business.theme.navtab_color%>;
  }
  .footer {
    background: <%= @business.theme.footer_background%>;
    color: <%= @business.theme.footer_color%>;
  }

  body {
    background-color: <%= @business.theme.body_background_color%>;
  }

  .list-group-transparent .list-group-item.active {
    background: <%= @business.theme.list_group_item_background%>;
  }

  .list-group-item.active {
    color: <%= @business.theme.list_group_item_color%>;
  }

  .btn-instagram {
    color: #fff;
    background-color: #40a6e4;
    border-color: #5aa1e6;
  }

  </style>
  <%end%>
</head>
<body class="">
  <div class="page">
    <div class="page-main">
      <%= render :partial => "layouts/header"%>
      <div class='my-3 my-md-5'>
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render :partial => "layouts/footer"%>
  </div>
</body>
<script src="/assets/dropzone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" type="text/javascript" charset="utf-8"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.6.1/async.min.js" type="text/javascript" charset="utf-8"></script>
<% if flash[:notice]%>
<script>
new Noty({
  type: 'warning',
  theme    : 'relax',
  timeout: 4000,
  layout: 'bottomLeft',
  text: '<%=t  flash[:notice]%>'
}).show();
</script>
<%end%>



</html>
